.button {
    padding: 10px 20px;
    margin: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #f4ab0f; /* Light brown border for selected option */
    border-radius: 5px;
    
  }

  .button-hover {
    background-color: #f0f0f0;
    box-shadow: 5px 5px 5px lightblue;
  }
  
  .button-selected {
    border: 2px solid #f4ab0f; /* Light brown border for selected option */
    padding: 7px 17px; /* Adjust padding to maintain button size */
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightblue;
    }

  .button-capture {
    background-color: #28a745;
  }
  
  .video {
    width: 100%;
    max-width: 400px;
    background-color: black;
    margin-top: 10px;
  }
  